<div class="books-list">
    <h1 class="books-list__header">
        {{title}}
    </h1>


    <div class="books-list__main">
        <div class="books-list__main-header">
            <p>
                Books List
            </p>
            <div class="books-list__main-header-buttons">
                <button mat-raised-button color="primary" (click)="addBook()">
                    Add Book <mat-icon>book</mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="addList()">
                    Add List<mat-icon>list</mat-icon>
                </button>
            </div>
        </div>

        <ng-container *ngIf="lists().length > 0">
            <app-lists [lists]="lists"></app-lists>
        </ng-container>

        <app-books-list [books]="books"></app-books-list>

    </div>
</div>