:host {
    display: block;
    margin-top: 1em;


    table {
        width: 100%;
    }

    .dragCursor {
        margin-right: 16px;
        cursor: move;
    }

    mat-card {
        min-height: 50vh;

        mat-card-content {
            text-align: center;
            margin-top: 5em;
        }
    }
}