:host {
    .dialog-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 84%;

        .action-buttons {
            button {
                &:nth-of-type(1) {
                    margin-right: 10px;
                }
            }
        }

      
    }

}